<% content_for :jquery_code do %>
	<script type='text/javascript'>
	  $(document).ready(function()
	  {
	    $('#form-input').submit(function(){
	      $.post('demonstrations/inputted', $(this).serialize(),
	        function(data){
	          	$('.return-data').html(data.to_append);
	          	$('.return-string').text(String(data.to_append));
	        }, 'json'
	        );
	      return false;
	    });
	  });
	</script>
<% end %>
<h1><div id='header'>
	<h3>This is the make gem demo. In the following input field, test out the gem by making the query! For example, start with "Make.form.model('User').now!"</h3>
</div>
</form>
<div class='return-data'>
</div>
<div class='return-string'>
</div>
<br>
<br>
<br>