/*** CSS GLOBAL RESETS ***/
/* BEGIN CSS RESETS --> */

html {
  	-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 1em;
}
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1em;
	font: inherit;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: 'Open Sans',sans-serif;
	/*font-family: "Trebuchet MS", Helvetica, sans-serif;*/
	/*font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
	vertical-align: baseline;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* <-- END GLOBAL RESETS */

/*** GRID SYSTEM ***/
/* Begin GRID SYSTEM --> */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
	.row {
		clear: both;
	 	margin-right: -15px;
	  	margin-left: -15px;
	  	display: block;
	}
	.c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12 {
	    float: left;
	}	/* float all columns left */
		.c1 { width: 8.33333333%; }
		.c2 { width: 16.66666667%; }
		.c3 { width: 25%; }
		.c4 { width: 33.33333333%; }
		.c5 { width: 41.66666667%; }
		.c6 { width: 50%; }
		.c7 { width: 58.33333333%; }
		.c8 { width: 66.66666667%; }
		.c9 { width: 75%; }
		.c10 { width: 83.33333333%; }
		.c11 { width: 91.66666667%; }
		.c12 { width: 100%; }
		.o1 { margin-left: 8.33333333%; }
		.o2 { margin-left: 16.66666667%; }
		.o3 { margin-left: 25%; }
		.o4 { margin-left: 33.33333333%; }
		.o5 { margin-left: 41.66666667%; }
		.o6 { margin-left: 50%; }
		.o7 { margin-left: 58.33333333%; }
		.o8 { margin-left: 66.66666667%; }
		.o9 { margin-left: 75%; }
		.o10 { margin-left: 83.33333333%; }
		.o11 { margin-left: 91.66666667%; }
		.o12 { margin-left: 100%; }
/* <-- End GRID System */

/*** General fixes/adjustments ***/
/* TABLE ADJUSTMENTS BEGIN --> */
table {
		margin-top: 1em;
		margin-bottom: 1em;
		height: 100%;
		width: 100%;
	    border-collapse:separate;
	    border: solid #ccc .1em;
	    border-radius: .4em;
	}
	table tr {
		width: 100%;
	}
	table tr:nth-child(2n){

		background-color: RGB(245, 245, 245);
	}
	table th {
	  	padding-left: 1em;
	  	padding-right: 1em;
	  	text-align: left;
		background-color: RGB(240, 240, 240);
		border-top: none;
		border-right: .1em solid RGB(181, 181, 181);
		border-bottom: .1em solid RGB(181, 181, 181);
	}
		table th:first-child {
			border-left: none;
		}
		table th:last-child {
			border-right: none;
		}
	table td {
		padding: .5em 1em .5em 1em;
		border-right: .1em solid RGB(240, 240, 240);
		border-bottom: .1em solid RGB(240, 240, 240);
	}
		table td:first-child {
			border-left: .1em solid RGB(240, 240, 240);
		}
/* <-- END TABLE ADJUSTMENTS */
/* FORM ADJUSTMENTS BEGIN --> */
form {
	margin-top: 1em;
	margin-bottom: 1em;
	width: 100%;
	padding-top: 1em;
	padding-bottom: 1em;
	border: solid #ccc .1em;
	border-radius: .5em;
}
	form * {
		margin-bottom: .5em;
	}
	label {
		padding-left: 1em;
		padding-right: 1em;
		vertical-align: top;
		display: block;
	}
	input {
		margin-left: 1em;
		padding: .5em;
		border-radius: .4em;
		background-color: RGB(245, 245, 245);
		display: block;
	}
		input[type="text"]{
			border: 1px solid #ccc
		}
		input[type="password"]{
			border: 1px solid #ccc
		}
		input[type="textarea"]{
			border: 1px solid #ccc
		}
		input[type="submit"]{
			color: white;
			background-color: #5AE37E;
			border: 1px solid gray;
		}
		.btn {
			display: inline-block;
			border-radius: .5em;
			padding: .5em;
			color: white;
			background-color: #ccc;
			border: 1px solid gray;
		}
	textarea {
		margin-left: 1em;
		padding-top: .4em;
		padding-bottom: .4em;
		border-radius: .4em;
		background-color: RGB(245, 245, 245);
		border: 1px solid RGB(128, 128, 128);
	}
	select{		
		margin-left: 1em;
		border: 1px solid #ccc;
		border-radius: .4em;
	}
/* <-- END FORM ADJUSTMENTS */
/* OTHER ADJUSTMENTS BEGIN --> */
	/* RESETS */
	/*	SPACING */
	.padding-top { padding-top: 1em }
	.padding-right { padding-right: 1em }
	.padding-bottom { padding-bottom: 1em }
	.padding-left { padding-left: 1em }
	.margin-top { margin-top: 1em }
	.margin-right { margin-right: 1em }
	.margin-bottom { margin-bottom: 1em }
	.margin-left { margin-left: 1em }
	.margin-auto { margin: auto }
	.display-inline-block { display: inline-block;}
	#no-background{ background: none }
	#no-padding{ padding: 0 }
	#no-margin{ margin: 0 }
	.hundred { width: 100%; }
	/* TEXT */
	a { text-decoration: none;
		color: RGB(77, 175, 224) }
	.text-center { text-align: center }
	.text-right { text-align: right }
	.text-left { text-align: left }
	h1 { font-size: 4em }
	h2 { font-size: 3em }
	h3 { font-size: 2em }
	h4 { font-size: 1.5em }
	p { font-size: 1em }
	/* Border/Outlines */
	.border {
		padding: 1em;
		border: 1px solid #ccc;
		border-radius: .3em;
	}
	#no-border { border: none }
	/* colors */
/* <-- END OTHER ADJUSTMENTS */
*{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}
/*	.main {
		margin-left: 2em;
		margin-right: 2em;
	}*/
	.integer{
		color: RGB(132,129,255);
	}
	.string{
		color: RGB(230,191,77);
	}
	.workable{
		color: RGB(89,166,61);
	}
	.nestled{
		display: inline-block;
		vertical-align: top;
	}
	.nestled p {
		padding: 3px;
	}
	#tree{
		height: 400px;
	}
		.action_column,.first_cols{
			width: 110px;
		}
			#tree .action{
				border-style: solid;
				border-width: 1px;
			}
			#tree .pink{
				border-color: RGB(255,0,174);
			}
			#tree .green{
				border-color: RGB(127,226,46);
			}
			.action_column p,.first_cols p,.boxed{
				margin-bottom: 10px;
				border: solid black 1px;
				width: 100px;	
			}
			a{
				padding-left: 10px;
				color: RGB(44,132,195);
			}
		#method_description{
			height: 150px;
		}
			#method_description h3{
				color: RGB(38,188,244);
			}
				#success{
					display: none;
				}
		input[type="submit"],#clear{
			width: 100px;
		}
.results div{
	display: block;
	vertical-align: bottom;
}
#html_result, #table_result {
	clear:left;
	float:left;
}
	#table_result table {
		width: auto;
		height: 100%;
	}
	#table_result form {
		display: inline-block;
		padding-right: 1em;
		width: auto;
		height: 100%;
	}
	#html_result {
		float: left;
		border-radius: .5em;
		display: block;
		border: 1px solid #ccc;
		overflow: scroll;
		width: 100%;
		height: 100%;
	}
		#html_result form, #html_result table {
			padding-right: 1em;
		}
	.pretty {
		word-wrap: normal;
	}
	.clear-top {
		clear: top;
	}
	.align-top {
		display: inline-block;
		vertical-align: top;
	}
	#run_code_form {
		width: auto;
		margin: 0;
		padding: 0 0 0 1em;
		border: none;
		display: inline-block;
	}
	#run_code_form .runit{
		margin: 0;
		border-bottom: none;
		display: inline-block;
	}
	#clear {
		vertical-align: top;
		display: inline-block;
	}
	#top *{
		vertical-align: bottom
	}
	.instructions {
		padding-left: 2em;
	}
/* line 1, /Users/sarapple/Desktop/Make-Doc/app/assets/stylesheets/splash.css.scss */
* {
  margin: 0px;
  padding: 0px;
}

/* line 5, /Users/sarapple/Desktop/Make-Doc/app/assets/stylesheets/splash.css.scss */
.bold {
  font-weight: bolder;
}

/* line 8, /Users/sarapple/Desktop/Make-Doc/app/assets/stylesheets/splash.css.scss */
.nestled {
  display: inline-block;
  vertical-align: top;
}

/* line 12, /Users/sarapple/Desktop/Make-Doc/app/assets/stylesheets/splash.css.scss */
.green {
  color: RGB(127, 226, 46);
}

/* line 15, /Users/sarapple/Desktop/Make-Doc/app/assets/stylesheets/splash.css.scss */
.cyan {
  font-style: italic;
  color: RGB(38, 188, 244);
}

/* line 19, /Users/sarapple/Desktop/Make-Doc/app/assets/stylesheets/splash.css.scss */
.yellow {
  color: RGB(230, 191, 77);
}

/* line 22, /Users/sarapple/Desktop/Make-Doc/app/assets/stylesheets/splash.css.scss */
.white {
  color: white;
}

/* line 25, /Users/sarapple/Desktop/Make-Doc/app/assets/stylesheets/splash.css.scss */
.crimson {
  color: RGB(233, 87, 63);
}

/* line 28, /Users/sarapple/Desktop/Make-Doc/app/assets/stylesheets/splash.css.scss */
#intro_content {
  text-align: center;
  background-image: url("/assets/intro_background.jpg");
  background-size: 130% auto;
  background-repeat: no-repeat;
  background-position: -600px 0px;
}

/* line 35, /Users/sarapple/Desktop/Make-Doc/app/assets/stylesheets/splash.css.scss */
#intro_content * {
  opacity: 0;
}

/* line 38, /Users/sarapple/Desktop/Make-Doc/app/assets/stylesheets/splash.css.scss */
#intro_title {
  margin-top: 200px;
  font-size: 250px;
  color: black;
}

/* line 43, /Users/sarapple/Desktop/Make-Doc/app/assets/stylesheets/splash.css.scss */
#intro_sub {
  margin-top: -60px;
  font-size: 45px;
}

/* line 47, /Users/sarapple/Desktop/Make-Doc/app/assets/stylesheets/splash.css.scss */
#intro_description {
  font-size: 60px;
}

/* line 50, /Users/sarapple/Desktop/Make-Doc/app/assets/stylesheets/splash.css.scss */
#line {
  width: 100%;
  height: 6px;
  background-color: RGB(233, 87, 63);
}

/* line 55, /Users/sarapple/Desktop/Make-Doc/app/assets/stylesheets/splash.css.scss */
#demo_content {
  text-align: center;
  font-size: 12px;
  height: 0px;
  overflow: hidden;
  background-color: RGB(39, 40, 34);
  color: white;
}

/* line 63, /Users/sarapple/Desktop/Make-Doc/app/assets/stylesheets/splash.css.scss */
.command {
  color: gray;
}

/* line 66, /Users/sarapple/Desktop/Make-Doc/app/assets/stylesheets/splash.css.scss */
#demo_img {
  width: 400px;
  height: 400px;
}

/* line 70, /Users/sarapple/Desktop/Make-Doc/app/assets/stylesheets/splash.css.scss */
#demo_2 {
  display: none;
}

/* line 73, /Users/sarapple/Desktop/Make-Doc/app/assets/stylesheets/splash.css.scss */
#tabs {
  text-align: center;
  display: none;
}

/* line 77, /Users/sarapple/Desktop/Make-Doc/app/assets/stylesheets/splash.css.scss */
.tab {
  text-decoration: none;
}

/* line 81, /Users/sarapple/Desktop/Make-Doc/app/assets/stylesheets/splash.css.scss */
.tab div {
  text-align: center;
  width: 200px;
  height: 30px;
  border-bottom: solid RGB(233, 87, 63) 2px;
}

/* line 87, /Users/sarapple/Desktop/Make-Doc/app/assets/stylesheets/splash.css.scss */
.tab div span {
  line-height: 30px;
  color: RGB(233, 87, 63);
}

/* line 91, /Users/sarapple/Desktop/Make-Doc/app/assets/stylesheets/splash.css.scss */
#about {
  display: none;
  margin: 100px 0px 0px 100px;
}

/* line 96, /Users/sarapple/Desktop/Make-Doc/app/assets/stylesheets/splash.css.scss */
#about h4 {
  font-size: 40px;
}

/* line 99, /Users/sarapple/Desktop/Make-Doc/app/assets/stylesheets/splash.css.scss */
#about p {
  text-align: left;
  width: 90%;
  font-size: 20px;
  color: RGB(173, 163, 156);
}

/* line 105, /Users/sarapple/Desktop/Make-Doc/app/assets/stylesheets/splash.css.scss */
#about h6 {
  font-size: 16px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

