*{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}
body{
	margin: 20px;
}
	.integer{
		color: RGB(132,129,255);
	}
	.string{
		color: RGB(230,191,77);
	}
	.workable{
		color: RGB(89,166,61);
	}
	.nestled{
		display: inline-block;
		vertical-align: top;
	}
	#tree{
		height: 300px;
	}
		.action_column,.first_cols{
			width: 110px;
		}
			#tree .action{
				border-style: solid;
				border-width: 1px;
			}
			#tree .pink{
				border-color: RGB(255,0,174);
			}
			#tree .green{
				border-color: RGB(127,226,46);
			}
			.action_column p,.first_cols p,.boxed{
				margin-bottom: 10px;
				border: solid black 1px;
				width: 100px;	
			}
			a{
				padding-left: 10px;
				color: RGB(44,132,195);
			}
		#method_description{
			height: 150px;
		}
			#method_description h3{
				color: RGB(38,188,244);
			}

			h3{
				margin-top: 50px;
			}
				#success{
					display: none;
				}
		input[type="submit"],#clear{
			width: 100px;
		}